<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SeleniumIssue4203Repro2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SeleniumIssue4203Repro2.Properties.Settings>
            <setting name="BrowserName" serializeAs="String">
                <value>Chrome</value>
            </setting>
            <setting name="Timeout" serializeAs="String">
                <value>30</value>
            </setting>
        </SeleniumIssue4203Repro2.Properties.Settings>
    </userSettings>
</configuration>